/*.tlo
{
    fx-background-color: linear-gradient(#33cccc, #aeeaea);
}*/
.button_big2
{
    -fx-background-color: linear-gradient(#004d66, #0099cc);
}
.napisy
{
    -fx-text-fill:#3f5a5a;
}
.nazwy_zakladek
{
    -fx-background-color: linear-gradient(to top, #33cccc 24%, #aeeaea 100%);
}
.zakladki
{
    -fx-background-color:linear-gradient(to top, #33cccc 24%, #aeeaea 100%);
}
.button_small
{
    -fx-background-color:linear-gradient(to bottom, #6600ff 24%, #000066 100%);
}
.button_big
{
    -fx-background-color:linear-gradient(to top, #004d66 0%, #0099cc 100%);
}